<!---->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button class="nav-link active" (click)="pagina()" >Inicio</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" (click)="Listara()">Listar Platos Saludables</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" (click)="Nuevoa()">Agregar Platos Saludables</button>
      </li>

      <li class="nav-item">
        <button class="nav-link" (click)="Listarb()">Listar Jugos Saludables</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" (click)="Nuevob()">Agregar Jugos Saludables</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" (click)="Listarc()">Listar Estado de Salud de Pacientes</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" (click)="Nuevoc()">Agregar Estado de Salud de Pacientes</button>
      </li>

      <li class="nav-item">
        <button class="nav-link" (click)="estadistica()">Estadisticas de Salud del Paciente</button>
      </li>
      <li class="nav-item">
        <button class="nav-link" (click)="registro()">registro</button>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>



<!--
<div class="container text-center">
  <button (click)="Listar()" class="btn btn-info">Listar</button>
  <button (click)="Nuevo()" class="btn btn-info" style="margin-left: 10px;">Nuevo</button>
</div>

<div class="container text-center">
  <button (click)="Listara()" class="btn btn-info">Listar</button>
  <button (click)="pagina()" class="btn btn-info">INICIO</button>
  <button (click)="Nuevoa()" class="btn btn-info" style="margin-left: 10px;">Nuevo</button>
</div>
<a href="">Hola SinFloo todos somos hinchas</a>
<hr>
<router-outlet></router-outlet>
-->

