<div class="container">
  <h2>Estadisticas Del Paciente</h2>
  <p>La tabla Muestra El Estado del Paciente:</p>
  <table class="table">
    <thead>
      <tr>
        <th>Primer Nombre</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Estadistica de Salud</th>
        <th>Estado de Salud</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
        <td>
          <!---
          <div id="myPlot" style="width:150%;max-width:300px"></div>
        -->
          <img  src="https://auditoriamedica.files.wordpress.com/2009/06/estadisticas_1.jpg" width="250px" height="200px">

        </td>
        <td>
            <img  src="https://images.emojiterra.com/google/android-pie/512px/1f60a.png" width="50px" height="50px">

        </td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>john@example.com</td>
        <td>
          <img  src="https://cdn.statcdn.com/Statistic/1035000/1037965-blank-754.png" width="250px" height="200px">
<!---
          <div id="myPlote" style="width:80%;max-width:500px"></div>
-->
        </td>
        <td>
          <img  src="https://images.emojiterra.com/google/android-pie/512px/1f60a.png" width="50px" height="50px">

      </td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>john@example.com</td>
        <td>
          <!---
          <div id="myPlotww" style="width:80%;max-width:400px"></div>
          -->

          <img  src="https://cdn.statcdn.com/Statistic/560000/561516-blank-355.png" width="250px" height="200px">
        </td>
        <td>
          <img  src="https://images.emojiterra.com/google/android-pie/512px/1f60a.png" width="50px" height="50px">

      </td>
      </tr>
    </tbody>
  </table>
</div>
