<form action="/action_page.php">
  <div class="container">
    <h1>Registrate</h1>
    <p>Porfavor llena este formulario</p>
    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" required>

    <label for="psw"><b>contrasenia</b></label>
    <input type="password" placeholder="Enter Password" name="psw" id="psw" required>

    <label for="psw-repeat"><b>repite contrasenia</b></label>
    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
    <hr>
    <p>By creating an account you agree to our <a href="#">Términos y privacidad .</a>.</p>

    <button type="submit" class="registerbtn">Registrate</button>
  </div>

  <div class="container signin">
    <p>Si ya tienes Cuenta Logueate? <a href="#">Logueate</a>.</p>
  </div>
</form>
